.button {
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid #99B8DD;
    color: #99B8DD;
    border-radius: 20px;
    padding: 4px 7px 4px 7px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.button:hover {
    background-color: #f1f7ff;
    color: #99B8DD;
}

.button:active {
    background-color: #daeaff;
    color: #99B8DD;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
    transform: scale(0.95);
}