.buttonLoad {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    height: 52px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 10px;
    font-size: 12.5px;
    color: #707070;
    padding: 15px 15px 15px 0px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buttonLoad:hover {
  background-color: #f2f2f2;
  color: rgb(56, 56, 56);
}

.buttonLoad:active {
  background-color: #dddddd;
  color: rgb(56, 56, 56);
}

.uploadEmoji {
    width: 19px;
    height: auto;
    margin-right: 9px;
}

.textButton {
    padding: 5px;
    font-size: 12.5px;
    color: #707070;
}

@media (max-width: 600px) {
    .buttonLoad {
        font-size: 10px;
        padding: 0;
    }
}